.choice-list {
	width: 50vw;
	height: 380px;
	margin: 0 auto 40px;
	background-color: #e5e5e5;
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px;
}
